#features
  %ul
    %li 3 Bed / 2 Bath
    %li 1360 Square Feet
    %li Full sized propane gas grill
    %li 3 bedrooms with queen sized beds
    %li 10.5 miles from Lucas Oil Stadium (no interstate freeway required)
    %li Driveway snow removal (just in case)
    %li 1 Car Garage w/ Remote Opener
    %li 50" Plasma TV w/ 450 channel of premium HD cable (NFL TV, HBO, Cinemax, etc)
    %li High speed WiFi
    %li Can arrange for car service to and from the airport or Lucas Oil Stadium (addtn'l charge).