#photos
  #slides
    .slides_container
      %a{:href => "http://www.flickr.com/photos/jliba/4665625073/", :target => "_blank", :title => "145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!"}
        %img{:alt => "Slide 1", :height => "270", :src => "http://slidesjs.com/examples/standard/img/slide-1.jpg", :width => "570"}/
      %a{:href => "http://www.flickr.com/photos/stephangeyer/3020487807/", :target => "_blank", :title => "Taxi | Flickr - Photo Sharing!"}
        %img{:alt => "Slide 2", :height => "270", :src => "http://slidesjs.com/examples/standard/img/slide-2.jpg", :width => "570"}/
      %a{:href => "http://www.flickr.com/photos/childofwar/2984345060/", :target => "_blank", :title => "Happy Bokeh raining Day | Flickr - Photo Sharing!"}
        %img{:alt => "Slide 3", :height => "270", :src => "http://slidesjs.com/examples/standard/img/slide-3.jpg", :width => "570"}/
      %a{:href => "http://www.flickr.com/photos/b-tal/117037943/", :target => "_blank", :title => "We Eat Light | Flickr - Photo Sharing!"}
        %img{:alt => "Slide 4", :height => "270", :src => "http://slidesjs.com/examples/standard/img/slide-4.jpg", :width => "570"}/
      %a{:href => "http://www.flickr.com/photos/bu7amd/3447416780/", :target => "_blank", :title => "“I must go down to the sea again, to the lonely sea and the sky; and all I ask is a tall ship and a star to steer her by.” | Flickr - Photo Sharing!"}
        %img{:alt => "Slide 5", :height => "270", :src => "http://slidesjs.com/examples/standard/img/slide-5.jpg", :width => "570"}/
      %a{:href => "http://www.flickr.com/photos/streetpreacher/2078765853/", :target => "_blank", :title => "twelve.inch | Flickr - Photo Sharing!"}
        %img{:alt => "Slide 6", :height => "270", :src => "http://slidesjs.com/examples/standard/img/slide-6.jpg", :width => "570"}/
      %a{:href => "http://www.flickr.com/photos/aftab/3152515428/", :target => "_blank", :title => "Save my love for loneliness | Flickr - Photo Sharing!"}
        %img{:alt => "Slide 7", :height => "270", :src => "http://slidesjs.com/examples/standard/img/slide-7.jpg", :width => "570"}/
    %a.prev{:href => "#"}
      %img{:alt => "Arrow Prev", :height => "43", :src => "images/arrow-prev.png", :width => "24"}/
    %a.next{:href => "#"}
      %img{:alt => "Arrow Next", :height => "43", :src => "images/arrow-next.png", :width => "24"}/
  %img#frame{:alt => "Example Frame", :height => "341", :src => "images/example-frame.png", :width => "739"}
