#photos
  #slides
    .slides_container
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-8.png", :width => "480"}/
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-1.png", :width => "480"}/
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-3.png", :width => "480"}/
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-4.png", :width => "480"}/
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-5.png", :width => "480"}/
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-6.png", :width => "480"}/
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-7.png", :width => "480"}/
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-9.png", :width => "480"}/
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-10.png", :width => "480"}/
      %a{:href => "", :title => ""}
        %img{:alt => "", :height => "310", :src => "/photos/slide-11.png", :width => "480"}/
    %a.prev{:href => "#"}
      %img{:alt => "Arrow Prev", :height => "43", :src => "images/arrow-prev.png", :width => "24"}/
    %a.next{:href => "#"}
      %img{:alt => "Arrow Next", :height => "43", :src => "images/arrow-next.png", :width => "24"}/
  %img#frame{:alt => "Example Frame", :height => "341", :src => "images/example-frame.png", :width => "739"}
