#sidebar
  .price
    %span.amount $1600
    %small per night
  #call_to_action
    %a.btn.success.large{:href => "mailto:info@indysuperbowlhouse.com?subject=Superbowl%20Rental%20House"} Book Now
  %span.label.notice Fine Print
  %ul.fine-print
    %li background check authorization required
    %li $500 deposit required upon booking
    %li maximum occupancy of 8
    %li major credit cards accepted via PayPal (for 2.5% fee)