#social
  .fb-like{"data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "200"}
  %br
  %a.twitter-share-button{"data-count" => "horizontal", :href => "https://twitter.com/share", "data-via" => "rsendelbach"} Tweet
  %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}